body {
  background-color: #e0ffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.title {
  color:#8f62c8;
  margin-bottom: 20px;
}

.calculator {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 300px;
  box-sizing: border-box;
}

#display {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #8f62c8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #017611;
}

.zero {
  grid-column: span 2;
}
